.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal .margin-top-medium {
    margin-top: 100px;
}

.reveal pre {
    margin-top: 75px;
    border: 1px solid #999;
    width: 100%;
    font-size: 20px;
}
